/****************** GENERAL SETTING ***********/
:root {
  --color1: #004ce5;
  --color2: #4a80ee;
  --color3: #003297;
  --color4: #cecece;
  --color5: #363636;
  --color1-transparent-25: rgba(0, 77, 230, 0.253);
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.btn-primary {
  background-color: var(--color1);
  border-color: var(--color1);
}
.btn-primary:hover {
  background-color: var(--color2);
  border-color: var(--color2);
}

/****************** TOPBAR *****************/
.topbar {
  background-color: var(--color4);
  padding: 0.5rem;
}
.topbar ul {
  list-style-type: none; /*TODO ikonlarin yanindaki noktalari silmek icin kullanilir.*/
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}
.topbar ul li {
  padding-left: 1rem;
}
/****************** MENUBAR *****************/
.menubar .navbar-nav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 450px) {
  .menubar .navbar-nav {
    flex-direction: column;
  }
}

.menubar .navbar-nav a.active {
  border-bottom: 0.3rem solid var(--color2);
}
.menubar .navbar-nav a:hover {
  color: var(
    --color2
  ) !important; /*TODO !important yazinca oncelik bu style'da olur. */
}

/****************** SLIDER *****************/
.slider {
  background-color: var(--color1-transparent-25);
}
.slider .carousel-caption {
  top: 0;
  left: 0;
  text-align: left;
}
.slider .carousel-control-prev,
.slider .carousel-control-next {
  top: auto;
  bottom: 15px;
  width: auto;
}
.slider .carousel-control-prev {
  left: auto;
  right: 50px;
}
.slider form{
  background-color: white;
  padding:2rem;
  border-radius: 0.2rem;
}
.slider .input-group-text{
    font-size: 0.8rem;
}

.slider .row{
    align-items: center;
}
